@media all and (max-height: 843px){
  #user-group{
    width: 95%;
    height: 558px;
  }
}

@media all and (max-height: 660px){
  #user-group{
    width: 95%;
    height: 364px;
  }
}

@media all and (max-height: 470px){
  #user-group{
    width: 95%;
    height: 184px;
  }
}
