*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: Montserrat, Arial, sans-serif;
}

/* header rules */
header{

}
/* top bar a comparsa  */
.top-bar{
  transition: 0.8s;
  opacity: 0;
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* DEBUG:  */
  background-color: black;

}
.top-bar:hover{
  transition: 0.8s;
  opacity: 0.5;
}

#top-bar-left{
  margin-left: 5px;
  /* DEBUG:  */
  background-color: seagreen;
  width: 200px;
  height: 30px;
}

#top-bar-center{

  /* DEBUG:  */
  background-color: seagreen;
  width: 200px;
  height: 30px;
}

#top-bar-right{
  margin-right: 5px;
  /* DEBUG:  */
  background-color: seagreen;
  width: 200px;
  height: 30px;
}



main{
  width: 100vw;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* DEBUG:  */
  background-color: red;
}

#user-group{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  /* DEBUG:  */
  background-color: grey;

}

.user-main{
  max-width: 320px;
  max-height: 180px;
  margin: 2px;
  box-sizing: content-box;
  /* DEBUG:  */
  /* border: black 1px solid; */
}

.user-live{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-live img{
  width: 100%;
  height: 100%;
}

.user-details{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-details i{
  background-color: rgba(0,0,0,0.7);
  padding: 6px;
}
.user-details span{
  background-color: rgba(0,0,0,0.7);
  padding: 6px;
  font-size: 13px;
}

.active{
  border: 2px solid yellow;
}



footer{
  width: 100vw;
  height: 70px;
  padding: 10px 0;
  background-color: #202224;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  box-sizing: content-box;
}
#bar-inout,
#bar-main,
#bar-leave{
  /* width: calc(100%/5); */
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bar-inout{
  margin-left: 20px;
}
#bar-main{
  /* align-self: center; */
}
.bar-btn{
  display: flex;
}
.bar-btn a{
  color: white;
  text-decoration: none;
}
.btn-normal{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 12px;
}
.btn-normal a{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.btn-normal a i{
  color: white;
}
.btn-normal a i:hover{
  color: rgba(255,255,255,0.4);
}
.btn-normal i{
  font-size: 28px;
  text-align: center;
}
.btn-normal span{
  font-size: 10px;
}
.relative{
  position: relative;
}
.users-notification{
  position: absolute;
  top: 5px;
  right: 20px;
}
.chat-notification{
  position: absolute;
  top: 2px;
  left: 19px;
}
.badge{
  background-color: green;
  border-radius: 100%;
  padding: 3px;
}
#share-screen{
  width: auto;
  height: 26px;
}
#share-screen:hover{
  opacity: 0.5;
}
.bar-btn-opt{
  /* DEBUG:  */
  width: 20px;
  height: 70px;
}
.btn-text{
  /* width: 150px; */
}
#leave-meeting{
  color: red;
  font-size: 24px;
}
