/* generic rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: #999999;
  font-family: 'Montserrat', Arial, sans-serif;
}
a{
  color: #999999;
  text-decoration: none;
}
a:hover{
  color: white;
}
/* header rules */
header{
  background-color: black;
  width: 12vw;
  height: calc(100vh - 80px);
  position: fixed;
  float: left;
}
.flex-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
}
.active_text{
  color: white;
}
#box_logo img{
  width: 90% !important;
  margin: 30px 30% 30px 10%;
}
.nav_menu_box{
  padding: 10px;
}
.nav_menu_box_item{
  margin-bottom: 10px;
}
.nav_menu_box_item a{
  display: flex;
}
#box_nav_menu{
  height: 30%;
}
#box_nav_menu img{
  width: 25px;
  height: auto;
  margin-left: 5px;
}
#box_nav_menu span{
  margin-top: 5px;
  margin-left: 10px;
  height: auto;
  font-size: 14px;
}
#box_nav_menu div:nth-child(2){
  border-left: 3px solid #adff2f;
}
#plus{
  margin-top: 20px;
  margin-bottom: 20px;
}
#plus span:before {
  content: '+';
  width: 35px;
  height: 37px;
  color: black;
  background-color: #999999;
  display: inline-block;
  margin-right: 10px;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
}
#box_playlist{
  font-size: 14px;
  height: 60%;
}
#new_playlist span{
  display: block;
  float: left;
}
#playlists{
  margin-top: 30px;
}
#playlists ul li{
  margin-top: 10px;
  list-style-type: none;
}
#box_profile{
  height: 10%;
  box-sizing: content-box;
}
#box_profile > *{
  margin-bottom: 10px;
}
#install img{
  width: 18px;
  height: auto;
}
#install span{
  font-size: 14px;
}

#divider{
  width: 90%;
  height: 1px;
  border-radius: 25%;
  background-color: #999999;
}

#profile img{
  width: 22px;
  height: auto;
  background-color: #999999;
  border-radius: 100%
}
/* #profile *{
  align-items: center;
} */

#profile span{
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 3px;
}


/* upgrade bar */
#upgrade_top_bar{
  position: fixed;
  height: 80px;
  width: 87vw;
  background-color: black;
  opacity: 0.4;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

#upgrade_top_bar a{
  /* text-align: right; */
  padding: 15px;
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 50px;
}

/* main rules */
main{
  background-color: #141922;
  width: 87vw;
  margin-left: 12vw;
  float: left;
}
h1{
  color: white;
  font-size: 50px;
}

/* sezione categorie */
#categories ul{
  width: 100%;
  margin-top: 80px;
  text-align: center;
}

#categories ul li{
  display: inline-block;
  padding-right: 30px;
}
#categories ul li a{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

/* sezine con articoli */
#main_slider{
  margin-top: 40px;
  margin-left: 16px;
}
/* primo slider */
.squared ul,
.circled ul{
  width: 100%;
}

.slider h1{
  margin-top: 20px;
  /* margin-left: 16px; */
  font-size: 18px;
  font-weight: bold;
}
.slider>div>ul{
  display: flex;
  /* padding-left: 10px; */
}
.slider>div>ul>li{
  display: inline-block;
  align-items: flex-start;
  list-style-type: none;
  width: calc(100% / 6);
  padding: 15px 12px 15px 0;
}
.slider_item{
  width: 96%;
}
.slider_item img{
  width: 100%;
}
.slider_item h4{
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
.item_subtitle{
  font-size: 10px;
  text-align: center;
}
#created_for .item_subtitle,
#most_popular .item_subtitle{
  text-align: left;
  margin-top: 5px;
}
#most_popular{
  margin-bottom: 80px;
}
.circled img{
  border-radius: 100%;
}

/* footer rules */
footer{
  background-color: #282828;
  width: 100vw;
  height: 80px;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

/* footer barra primo blocco */
#mult_lf_bar{
  width: 20%;
  height: 100%;
}
#mult_lf_bar img{
  height: 50px;
  width: auto;
}
#mult_lf_bar ul li,
#volume_buttons ul li{
  display: inline-block;
  vertical-align: middle;
  margin: 15px 5px;
}

/* footer barra secondo blocco */

#mult_cnt_bar{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
  /* pulsanti */
#console_buttons{
  width: 100%;
  height: 50%;
  display: inline-flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: flex-end;
}
#console_buttons ul{
  text-align: center;
}
#console_buttons ul li,
#mult_rg_bar div ul li{
  display: inline-block;
  list-style-type: none;
}
  /* progress_bar */
.progress_bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#start_time,
#end_time{
  font-size: 10px;
  color: white;
  margin: 0 10px;
}
#start_time span{
  margin: 5px;
}
#end_time span{
  margin: 5px;
}

.total_bar{
  background-color: #5A5A5A;
  opacity: 0.7;
  width: 80%;
  height: 3px;
  border-radius: 18%;
  position: relative;
  display: flex;
  align-items: center;
}
.played_bar{
  background-color: #C1C1C1;
  width: 8%;
  height: 3px;
  border-radius: 18%;
  z-index: 2;
}
.cursor_bar{
  background-color: #C1C1C1;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  left: 7%;
}
.played_bar:hover{
  background-color: #adff2f;
  width: 8%;
  height: 3px;
  border-radius: 18%;
  z-index: 2;
}

/* footer barra terzo blocco */
#mult_rg_bar{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#volume_buttons ul li{
}
#volume_bar{
  width: 60%;
}
